
  
  <%- include('include/_headerlog') %>


  <div class="container">
    <h1 class="text-warning" style="text-align: center; margin-top: 80px; margin-bottom: 80px;">Rendelés összesítő</h1>
    <div class="col-lg-9" style="margin-left: 170px;">
      <form action="/" method="POST">
        <table id="ordertable" class="table">
            <thead style="text-align: center;">
              <tr class="table-default">
                <th scope="col-2">Név</th>
                <th scope="col-2">Kiszerelés</th>
                <th scope="col-2">Egységár</th>
                <th scope="col-2">Mennyiség</th>
                <th scope="col-2">Ár (Ft)</th>
              </tr>
            </thead>
          <tbody>
            <% for(var i = 0; i < asztalrendeles1.length; i++) { %>
              <tr class="table-default border-0" style="text-align: center">
                  <td style="padding-top: 25px; border: none"><%= asztalrendeles1[i].name %></td>
                  <td style="padding-top: 25px; border: none"><%= asztalrendeles1[i].kiszereles %></td>
                  <td style="padding-top: 25px; border: none"><%= asztalrendeles1[i].egysegar %></td>
                  <td style="padding-top: 25px; border: none"><%= asztalrendeles1[i].mennyiseg %></td>
                  <td id="elem" style="padding-top: 25px; border: none"><%= asztalrendeles1[i].egysegar*asztalrendeles1[i].mennyiseg%></td>
              </tr>

              <% } %>
            </tbody>
          </table>
        </form>

            
    <div class="box-nav d-flex justify-content-end" style="padding-top: 10px;">
      <h4 class="text-warning" style="font-weight: bold;">Végösszeg: </h4>
         
         
    </div>

    <div class="box-nav d-flex justify-content-end" style="padding-top: 10px;">
      
         <h3 id="total" class="text-warning" style="font-weight: bold;margin-top: 20px;"></h3>
         
    </div>


    <div class="box-nav d-flex justify-content-center" style="margin-top: 40px;">
      <button type="submit" class="btn btn-warning col-md-2" style="margin-bottom: 40px; margin-right: 25px;" onclick="location.href='#'">
        Fizetés
    </button>    <button type="reset" class="btn btn-secondary col-md-2" style="margin-bottom: 40px; margin-left: 25px;" onclick="location.href='/table_1'">
      Vissza
  </button>
   </div>


    </div>


</div>

 


<!--   <div class="empty-cart" style="margin-top:300px">
    <div class="container mx-auto text-center">
    
    <h1 style="font-weight: bold;">A kosár üres!</h1>
    </div>
       <div class="box-nav d-flex justify-content-center" style="margin-top: 40px;">
      <button type="reset" class="btn btn-warning col-md-2" onclick="location.href='/table_1'">
        Vissza az 1. asztalhoz
    </button>
   </div> 
    </div> -->
<!-- 
<div class="col-lg-6">
    <main class="px-3" style="margin-left: 150px;margin-top: 110px">  
        
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="text-warning" style="margin-bottom: 20px;">Rendelés összesítő</h2>
          </h4>
          <ul class="list-group mb-3" style="list-style-type:none;" id="asztalrendeles1">

          </ul>

          <ul class="list-group mb-3" style="list-style-type:none;">
            <li class="list-group-item d-flex justify-content-between">
              <strong>Összesen (Ft)</strong>
              <strong>1500</strong>
            </li>

          </ul>
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Azonosító" />
              <button type="submit" class="btn btn-warning">Fizetés</button>
            </div>
          </form>
        
      </main>

      <div class="box-nav d-flex justify-content-center" style="margin-top: 80px;margin-left: 150px">
        <button type="reset" class="btn btn-warning col-md-4" onclick="location.href='/table_1'">
          Vissza
      </button>
     </div>
</div> -->

<%- include('include/_footerorder') %>