

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KUNPAO's CAFE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/sandstone/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
   
</head>
<body>

      <!-- MENÜ -->
<div class="container" style="margin-top: 40px;margin-bottom: 50px;">
  <div class="row">      

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg" style="border-radius: 15px;">
      <div class="container-fluid">
        <a class="navbar-brand" href="chief" style="margin-right: 300px; font-weight: bold;">KUNPAO's CAFE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-coins"></i> Pénzügy</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="income">Bevétel</a>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="orders">Rendelések</a>
                </div>
              </li>
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users-cog"></i> Adminisztráció</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="add-user">Új alkalmazott felvétele</a>                   
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="admin">Alkalmazottak lekérdezése</a>
                </div>
              </li>
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fab fa-product-hunt"></i>Termékek</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Új termék felvétele</a>                   
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Termékek lekérdezése</a>
                </div>
              </li>

            </li>
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-table"></i>Asztalok</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="table_1">1.asztal</a>                   
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="table_2">2.asztal</a>
                </div>
              </li>
              
            
            </li>
          </ul>
          
          <div class="d-flex">
            <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">Bejelentkezve: xxxx</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/users/logout">Kijelentkezés</a>
              </div>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </div>
  </div>
 <!-- MENÜ VÉGE -->


  <main id="site-main">
    <div class="container">
        <div class="row" style="margin-top: 150px;">
            <div class="col-md-6 m-auto">
              <h3 class="text-center mb-3">
                Alkalmazott adatainak módosítása
              </h3>
            
        <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group" style="margin-bottom: 30px;">
            <label for="name" class="text-dark">Név</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" class="form-control" value="<%= user.name %>">
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <label for="username" class="text-dark">Felhasználónév</label>
            <input type="text" name="username" class="form-control" value="<%= user.username%>">
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <label for="Email" class="text-dark">Email</label>
            <input type="text" name="email" class="form-control" value="<%= user.email%>">
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <label for="role" class="text-dark">Jogosultság</label>
            <input type="text" name="role" class="form-control" placeholder="Admin vagy Alap" value="<%= user.role%>">
        </div>
        <div class="form-group">
            <div class="container" style="margin-top: 40px">
              <div class="row justify-content-center">
                <button type="submit" class="btn btn-dark col-md-4 update">Mentés</button>
              </div>
            </div>
          </div>

          <div class="box-nav d-flex justify-content-center" style="margin-top: 40px;">
            <button type="reset" class="btn btn-secondary col-md-4" onclick="location.href='/admin'">
              Vissza a lekérdezéshez
          </button>
         </div>
    </div>
    
</form>
</div>     
    </div>
</div>
</main>


<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"
></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script src="/js/index.js"></script>
</body>
</html>

