
<%- include('include/_header_admin.ejs') %>

 <main id="site-main">
    <div class="container">
        <div class="row" style="margin-top: 150px;">
            <div class="col-md-6 m-auto">
              <h3 class="text-center mb-3">
                Alkalmazott adatainak módosítása
              </h3>
            
        <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group" style="margin-bottom: 30px;">
            <label for="name" class="text-dark">Név</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" class="form-control" value="<%= user.name %>">
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <label for="username" class="text-dark">Felhasználónév</label>
            <input type="text" name="username" class="form-control" value="<%= user.username%>">
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <label for="Email" class="text-dark">Email</label>
            <input type="text" name="email" class="form-control" value="<%= user.email%>">
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <label for="role" class="text-dark">Jogosultság</label>
            <input type="text" name="role" class="form-control" placeholder="Admin vagy Alap" value="<%= user.role%>">
        </div>
        <div class="form-group">
            <div class="container" style="margin-top: 40px">
              <div class="row justify-content-center">
                <button type="submit" class="btn btn-dark col-md-4 update">Mentés</button>
              </div>
            </div>
          </div>
    </div>
    
</form>
<div class="container" style="margin-top: 40px">
  <div class="row justify-content-center">
    <button onclick="window.location.href='admin'"class="btn btn-dark col-md-4 update">Vissza</button>
  </div>
</div>
</div>     
    </div>
</div>
</main>


<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"
></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script src="/js/index.js"></script>
</body>
</html>

